.nav-bar-container {
	position: static;
	width: 100%;
	height: 50px;
	top: 0px;
	left: 0px;
	background-color: black;
}

.nav-bar-container a {
	text-decoration: none !important;
	float: right;
	padding: 10px;
	margin: 5px;
	text-align: center;
	color: white;
	font-weight: bold;
}

.nav-bar-container #home-link {
	float: left;
}

.nav-bar-container a:hover {
	background-color:darkgrey;
}

nav #site-title {
	float: left;
	font-size: 50px;
	position: fixed;
	top: 0%;
}

nav #site-title a:hover {
	text-decoration: none !important;
}

